backend/server/logs
frontend/server/logs
debug.log
backend/apps/*/logs/remotelog.ndjson
backend/apps/*/db/sqlite/*.db*
backend/**/conf/hostname.json
backend/apps/neuranet/aiapps/**/*
!backend/apps/neuranet/aiapps/_org_neuranet_**/*
backend/apps/neuranet/temp/**/* 
backend/apps/neuranet/tests/vector_db/**/*
backend/apps/neuranet/tests/tfidf_db/**/*
backend/apps/neuranet/db/ai_db/**/*
backend/apps/neuranet/xbinapp/drive/**/*
backend/apps/neuranet/neuranetapp/temp/**/*
!backend/apps/neuranet/neuranetapp/temp/_do_not_delete_
backend/apps/neuranet/neuranetapp/plugins/webspider/*.crawl
backend/apps/neuranet/neuranetapp/plugins/webspider/temp_crawls/*
!backend/apps/neuranet/neuranetapp/plugins/webspider/temp_crawls/_do_not_delete_
backend/apps/neuranet/drive/*
!backend/apps/neuranet/drive/_do_not_delete_
backend/apps/neuranet/cms/*
!backend/apps/neuranet/cms/_do_not_delete_
backend/apps/neuranet/tests/assets/synthetic_docs/generated
.DS_store*
frontend/apps/neuranet/webbundle
frontend/apps/neuranet/views/custom/**/*