<style>
::-webkit-scrollbar {
    width: 0.5em !important;
    height: 0.5em !important;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    margin: 7em;
    border-radius: 1em !important;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    border-radius: 1em !important;
    background-clip: padding-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

div#body {
    padding: 0em 3em 3em 3em;
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

img.hidden {display: none;}

div#chat {
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 4.5em);
    display: flex;
    flex-direction: row;
    margin-bottom: -1.5em;
    max-width: 55em;
}
div#chatscroller {
    overflow-x: hidden;
    width: 100%;
    overflow: hidden;
    scrollbar-gutter: stable;
}
div#chatscroller:hover {overflow-y: overlay; padding-right: 0em;}
div#chatmainarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 0.5em;
}
div#start {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    user-select: none;
    max-height: 70%;
}
div#chat div.visible {display: flex;}
div#chat div.hidden {display: none;}

img#mainimage {
    height: 100%;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
}

div#messageareabackgroundcolor { /* The text content which overflows behind the message area gets a minor blur */
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ffffff7d;
}
div#message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow: auto;
    border: 1px solid #03b3ff36;
    border-radius: 1em;
    max-width: 48em !important;
    width: calc(100% - 4em);
    min-height: 6em;
    max-height: 6em;
    height: 6em;
    background-color: white;
}
div#message:hover, div#message:focus-within {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.0);
}
div#message.disabled {
    background-color: #f4f4f4;
    opacity: 0.5;
}
textarea#messagearea {
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    padding: 1em;
    font-family: sans-serif;
    color: #0082ba;
    border: 0;
    background-color: transparent;
}
span#messagecontrols {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-gap: 1em;
    align-items: center;
    height: 1.5em;
    margin: 0.5em;
    font-size: smaller;
    color: #007BB0;
}
span#messagecontrols img {height: 1.5em; width: 1.5em;}
span#messagecontrols span#attachedfiles {
    flex-grow: 1; 
    margin-left: 0.2em;
}
span#attachedfiles {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
    grid-gap: 0.8em;
    height: 2.5em;
    align-items: flex-end;
    margin-bottom: 0.5em;
}
span#messagecontrols span#attachedfiles span.fileicon {
    user-select: none;
    border: 1px solid #87dbff;
    padding: 0.5em;
    font-size: x-small;
    box-sizing: border-box;
    border-radius: 0.5em;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 8em;
    color: #00a1e6;
    height: 2.5em;
}
span#messagecontrols span#attachedfiles span.fileicon img#fileicon {height: 1em; width: 1em;}
span#messagecontrols span#attachedfiles span.fileicon span#name {
    max-width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 6em;
    margin-left: 0.5em;
    min-width: 6em;
}
span#messagecontrols span#attachedfiles span.fileicon img#cross {
    height: 1.5em;
    width: 1.5em;
    position: relative;
    top: -1em;
    left: -0.6em;
    visibility: hidden;
}

span.usercontentholder {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
span.aicontentholder {
    display: flex;
    flex-direction: column;
}
span.aicontentholder:hover span.controls {visibility: visible;}
span.aicontentholder img.controls {
    width: 0.8em;
    padding: 0.4em;
    border-radius: 0.2em;
}
span.aicontentholder img.controls:hover {background-color: #dff0fe;}
span.aicontentholder span.controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: right;
    visibility: hidden;
    padding-bottom: 3em;
}
span.aicontentholder {margin: 0.5em 0em;}
img.waitspin {
    margin-top: 0 !important;
    height: 2em !important;
    width: auto !important;
}
span.userprompt, span.airesponse {
    min-height: 3.5em;
    color: #005C84;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
}
span.userprompt {
    background-color: #C8EDFF; 
    max-width: calc(100% - 9em); 
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
}
span.airesponse {
    line-height: 1.8em; 
    flex-grow: 1; 
    text-align: justify;
}
span.airesponse.content {width: calc(100% - 10em);}
span.airesponse h1, span.airesponse h2, span.airesponse h3, span.airesponse h4, span.airesponse strong {font-weight: 500;}
span.airesponse table { 
    border: 1px solid #005C84;
    border-collapse: separate;
    border-left: 0;
    border-radius: 0.5em;
    border-spacing: 0px;
    color: #005C84;
    width: 100%;
}
span.airesponse table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}
span.airesponse table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
span.airesponse table th, span.airesponse table td {
    padding: 0.5em; 
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #005C84;    
}
span.airesponse table td {
    border-top: 1px solid #005C84;    
}
span.airesponse table thead:first-child tr:first-child th:first-child, span.airesponse table tbody:first-child tr:first-child td:first-child {
    border-radius: 0.5em 0 0 0;
}
span.airesponse table thead:last-child tr:last-child th:first-child, span.airesponse table tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 0.5em;
}

div.katex, span.katex {    /* Needed for katex latex spans */
    word-break: break-all;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
}
div.katex::-webkit-scrollbar, span.katex::-webkit-scrollbar {display: none;}

span.airesponse pre {
    background-color: #393939;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    line-height: 1.5em;
    overflow: auto;
}

div.collapsiblecontainer {
    background: linear-gradient(to right, #dff0fe, transparent);
    padding: 0.2em 0.4em 0.4em 0.4em;
    border-radius: 0.5em;
    display: none;
}
div.collapsiblecontainer.visible {display: block !important;}
div.collapsiblebutton, div.showingbutton {
    font-size: smaller;
    align-items: center;
    height: 2em;
    cursor: pointer;
    color: 005C84;
}
div.collapsiblebutton::after {content: "  ⇲"; font-size: 1.5em;}
div.showingbutton::after {content: "  ⇱"; font-size: 1.5em;}

div.collapsiblecontent {max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}

.rollinghighlight {
  display: inline-block;
  /* Render text through the gradient */
  color: transparent !important;
  background: linear-gradient(90deg,#005C84 0%,#dff0fe 50%,#005C84 100%);
  /* Control how *narrow* the shine is → looks character-by-character */
  background-size: 60% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  /* How fast or slow the animation is */
  animation: roll 2s linear infinite;
}
@keyframes roll {
  0% {background-position: -20% 0;}
  100% {background-position: 120% 0;}
}
</style>
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_PORTRAIT_START}}}
    div#body {padding: 1em 0.5em 1em 0.5em;}
    div#start {max-height: 50%;}
    div#chat {max-width: unset;}
    span.airesponse {max-width: unset;}
    div#chatmainarea {overflow-y: auto;}
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_PORTRAIT_END}}}

{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_LANDSCAPE_START}}}
    div#body {padding: 0.5em 1em 1em 1em;}
    div#chat {max-width: unset;}
    div#chatmainarea {overflow-y: auto;}
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_LANDSCAPE_END}}}

<div id="body">

<div id="chat">
    <div id="chatscroller" class="hidden">
        <div id="chatmainarea" readonly>
        <!-- Chat questions and responses are inserted here -->
        </div>
    </div>

    <div id="start" class="visible"><img id="mainimage" src="{{{COMPONENT_PATH}}}/img/robot.svg"></div>
</div>

<div id="messageareabackgroundcolor">
<div id="message">
    <textarea id="messagearea" onkeyup="
        const multiline = this.parentNode.querySelector('input#multiline').checked;
        if (event.key == 'Enter' && (!multiline)) monkshu_env.components['chat-box'].send(this)
    "></textarea>
    <span id="messagecontrols">
        <span id="attachedfiles"><!-- attached files go here --></span>
        <input type="checkbox" id="multiline" onclick="this.parentNode.parentNode.querySelector('textarea#messagearea').focus()"><label for="multiline">{{i18n.Multiline}}</label>
        {{#ATTACHMENT_ALLOWED}}<img id="attach" onclick="monkshu_env.components['chat-box'].attach(this)" src="{{{COMPONENT_PATH}}}/img/attach.svg">{{/ATTACHMENT_ALLOWED}}
        {{#TTS}}<img id="mic" src="{{{COMPONENT_PATH}}}/img/mic.svg" title="{{{i18n.ChatTTSLabel}}}" 
            onclick="monkshu_env.components['chat-box'].startVoiceInput(this)">{{/TTS}}
        <img id="send" onclick="monkshu_env.components['chat-box'].send(this)" src="{{{COMPONENT_PATH}}}/img/send.svg">
    </span>
</div>
</div>

</div>  <!-- end of body div -->


<!-- Templates start -->

<!-- Chat question and response insertion template -->
<template id="chatresponse_insertion_template"> 
<div class="insertiondiv" id="cmessage_id">
    <span class="usercontentholder"> 
        <span class="userprompt"></span> 
    </span>
    <span class="aicontentholder">
        <div class="collapsiblecontainer" id="aithoughtsection">
            <div class="collapsiblebutton rollinghighlight" onclick="
                (function(element){
                    element.classList.toggle('showingbutton');
                    const contentDiv = element.nextElementSibling;
                    if (element.classList.contains('showingbutton')) contentDiv.style.maxHeight = contentDiv.scrollHeight+'px';
                    else contentDiv.style.maxHeight = '0px';
                })(this);">{{i18n.ChatThinkingLabel}}</div>
            <div class="collapsiblecontent" id="aithoughtcontent"><!-- thoughts content --></div>
        </div>
        <span class="airesponse"><img class="waitspin" src="{{{COMPONENT_PATH}}}/img/chatspin.svg"></span>
    </span>
</div>
<span class="controls">
    <img class="controls" src="{{{COMPONENT_PATH}}}/img/copy.svg" id="controlscopy"
        onclick="
            const spanAIResponse1 = this.parentNode.parentNode;
            $$.copyTextToClipboard(spanAIResponse1.dataset.content, spanAIResponse1.dataset.content_mime); 
            this.src='{{{COMPONENT_PATH}}}/img/tick.svg'; 
            setTimeout(_=>this.src='{{{COMPONENT_PATH}}}/img/copy.svg', 800)">
    <img class="controls" src="{{{COMPONENT_PATH}}}/img/save.svg" id="controlssave"
        onclick="
            const spanAIResponse2 = this.parentNode.parentNode;
            window.monkshu_env.frameworklibs.util.downloadFile(
                spanAIResponse2.dataset.content, 
                spanAIResponse2.dataset.content_mime, 
                `chat_${new Date(Date.now()).toLocaleString().replaceAll(' ', '_').replaceAll(',', '')}.html`)">
    <img class="controls hidden" src="{{{COMPONENT_PATH}}}/img/word.svg" id="controlsword"
        onclick="monkshu_env.components['chat-box'].saveAsWord(this, this.parentNode.parentNode.id)">
    {{#STT}}<img class="controls" src="{{{COMPONENT_PATH}}}/img/speaker.svg" title="Play Audio" ttsAPI="/apps/{{app}}/tts"
            onclick="monkshu_env.components['chat-box'].playTTS(this)">{{/STT}}
</span>
</template>

<!-- File attachment template -->
<template id="fileattachment_insertion_template">
<span class="fileicon" id="&#123;&#123;&#123;fileid&#125;&#125;&#125;" 
        onmouseover="this.querySelector('img#cross').style.visibility='visible'"
        onmouseleave="this.querySelector('img#cross').style.visibility='hidden'">
    <img id="fileicon" src="{{{COMPONENT_PATH}}}/img/file.svg">
    <span id="name">&#123;&#123;filename&#125;&#125;</span>
    <img id="cross" src="{{{COMPONENT_PATH}}}/img/cross.svg" 
        onclick="monkshu_env.components['chat-box'].detach(this, '&#123;&#123;&#123;fileid&#125;&#125;&#125;')">
</span>
</template>


<!-- Collapsible content section template -->
<template id="collapsible_content_template"> <!-- Marked will break parsing if it detects 4 spaces, so the template below is very particular -->
<div class="collapsiblecontainer" id="aireponsesection">
<div class="collapsiblebutton" onclick="
  (function(element){element.classList.toggle('showingbutton');
  const contentDiv = element.nextElementSibling;
  if (element.classList.contains('showingbutton')) contentDiv.style.maxHeight = contentDiv.scrollHeight+'px';
  else contentDiv.style.maxHeight = '0px';})(this);">&#123;&#123;&#123;title&#125;&#125;&#125;</div>
<div class="collapsiblecontent">

&#123;&#123;&#123;content&#125;&#125;&#125;
</div>
</div>
</template>