<style>
    div#body {
        padding: 0em 3em 3em 3em;
        height: 100%;
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    div#main {
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 1px solid #03B3FF;
        border-radius: 0.5em;
        box-sizing: border-box;
        height: 70%;
        margin-bottom: 2em;
        padding: 0.5em;
    }
    img#mainimage {
        height: 100%;
        width: 100%;
        padding: 2em;
        box-sizing: border-box;
    }
    span#mainspan {
        flex-grow: 1;
        text-align: center;
        color: #03B3FF;
        font-size: xx-large;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 400;
        overflow: hidden;
    }

    div#icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        height: calc(30% - 2em);
        overflow: auto;
    }
    div#viewicon {
        display: flex;
        flex-direction: column;
        border: 1px solid #03B3FF;
        border-radius: 0.5em;
        box-sizing: border-box;
        height: 100%;
        justify-content: space-between;
        max-width: 12em;
        min-width: 12em;
        padding: 1em;
        margin-right: 2em;
        cursor: pointer;
    }
    div#viewicon:last-child {margin-right: 0em;}
    img#viewicon {
        height: calc(100% - 2.5em);
        margin-bottom: 1em;
    }
    span#viewlabel {
        display: block;  
        width: 100%;
        text-align: center;
        color: #007BB0;
        max-height: 1.5em;
        user-select: none;
        white-space: nowrap;
        overflow: hidden;   
        text-overflow: ellipsis;
    }
</style>
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_START}}}
	div#main {
        flex-direction: column; 
        min-height: 18em;
    }
    span#mainimage {max-height: 50%;}
    div#body {padding: 0.5em 0.5em 1em 0.5em; overflow: auto;}
    span#mainspan {font-size: large; font-weight: 200;}
    div#icons {
        flex-wrap: wrap; 
        gap: 1em; 
        overflow: hidden;
        min-height: fit-content;
    }
    div#viewicon {
        width: calc((100% - 2em) / 2); 
        max-width: unset; 
        min-width: unset; 
        width: 7em;
        height: 7em;
        margin: 0;
    }
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_END}}}

{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_LANDSCAPE_START}}}
    div#main {flex-direction: row}
    span#mainimage {max-height: unset;}
    div#icons {flex-wrap: unset;}
    div#viewicon { width: 7em; height: 7em;}
    img#viewicon { margin-bottom: 0; }
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_LANDSCAPE_END}}}

<div id="body">

<div id="main">
    <span id="mainimage"><img id="mainimage" src="{{viewpath}}/img/robot.svg"></span>
    <span id="mainspan"><p>{{{i18n.NeuralNetReady}}}</p><p>{{i18n.ChooseActivity}}</p></span>
</div>

<div id="icons">
    {{#views}}
    <div id="viewicon" title="{{viewlabel}}" onclick="monkshu_env.apps[APP_CONSTANTS.APP_NAME].neuranetapp.openView('{{{viewid}}}')">
        <img id="viewicon" src="{{viewicon}}">
        <span id="viewlabel">{{viewlabel}}</span>
    </div>
    {{/views}}
</div>

</div>